@font-face {
    font-family: 'Raleway Light Italic';
    src: url('fonts/Raleway-LightItalic.eot');
    src: url('fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('fonts/Raleway-LightItalic.woff') format('woff'),
        url('fonts/Raleway-LightItalic.ttf') format('truetype'),
        url('fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway Medium Italic';
    src: url('fonts/Raleway-MediumItalic.eot');
    src: url('fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('fonts/Raleway-MediumItalic.woff') format('woff'),
        url('fonts/Raleway-MediumItalic.ttf') format('truetype'),
        url('fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway Medium';
    src: url('fonts/Raleway-Medium.eot');
    src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Medium.woff2') format('woff2'),
        url('fonts/Raleway-Medium.woff') format('woff'),
        url('fonts/Raleway-Medium.ttf') format('truetype'),
        url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Light';
    src: url('fonts/Raleway-Light.eot');
    src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Light.woff2') format('woff2'),
        url('fonts/Raleway-Light.woff') format('woff'),
        url('fonts/Raleway-Light.ttf') format('truetype'),
        url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display Italic';
    src: url('fonts/PlayfairDisplay-Italic.eot');
    src: url('fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Italic.woff') format('woff'),
        url('fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display Bold';
    src: url('fonts/PlayfairDisplay-Bold.eot');
    src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.eot');
    src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display Bold Italic';
    src: url('fonts/PlayfairDisplay-BoldItalic.eot');
    src: url('fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}


html{
    font-size: 14px;
    width: auto;
}

h2 {
    font-family: 'Playfair Display Italic';
    font-size: 28px;
    text-align: center;
}


h2 b {
    font-family: 'Playfair Display Bold';
    text-align: center;
}

body{
    font-family: 'Raleway Light';
    color: #2d2d2d;
}

hr {
   color:  #d7d7d7;
}




header {
    height: 130px;
}


.topcontainer{
    padding: 12px 2% 0 2%;

    order: 1;
}

#alohaLogo {
    width: 40%;
    height: 40%;
}

#cartIcon{
    width: 18%;
    height: 18%;
    margin-left: 40%;
}


.navText{
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;    
    margin-top: 15px;
}

.navText a {
    color: #e2574c;
    text-decoration: none;
    font-family: 'Raleway Medium';
}

.navText a:hover {
    color:#b64036;
}



.banner{
    background: linear-gradient(
        rgba(0,0,0,0.25) 0%,
        rgba(0,0,0,0.25) 100%
    ),
    url('images/banner-girl.png') no-repeat center 30px, 
    url('images/flower-bkgd.jpg') repeat-x center;
    background-size: cover, contain, cover; 
    height: 400px;
}

.bannerText h1 {
    font-size: 16px;
    margin-bottom: 13px;
    font-family: 'Raleway Medium';

}

.bannerText { 
    text-align: center;
    color: white;
    position: relative;
    top: calc(50% - 25px); 
    font-size: 50px;
    font-weight: bold;
    font-family: 'Playfair Display';
}




.aboutText{
    text-align: center;
    line-height: 200%;
    position: relative;
    padding: 50px 12px;
}

.aboutText h2{
    margin-bottom: 5%;
}




.products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.products p {
    font-family: 'Raleway Medium';
}

.mens {
    background:  linear-gradient(
        rgba(0,0,0,0.25) 0%,
        rgba(0,0,0,0.25) 100%
    ), 
    url('images/mens-category.jpg') no-repeat center;
    background-size: cover;
    height: 200px;
    width: 100%;
    margin-bottom: 1%;

}


.mens p{
    text-align: center;
    color: white;
    position: relative;
    top: calc(50% - 8px); 
    font-size: 16px;
    text-transform: uppercase;

}

.trends {
    background: linear-gradient(
        rgba(0,0,0,0.25) 0%,
        rgba(0,0,0,0.25) 100%
    ),
     url('images/trends-category.jpg') no-repeat center;
    background-size: cover;
    height: 200px;
    width: 49%;
    margin-bottom: 1%;
}

.trends p{
    text-align: center;
    color: white;
    position: relative;
    top: calc(50% - 8px);
    font-size: 16px;
    text-transform: uppercase;
} 


.glasses {
    background: linear-gradient(
        rgba(0,0,0,0.25) 0%,
        rgba(0,0,0,0.25) 100%
    ),
     url('images/glasses-category.jpg') no-repeat center;
    background-size: cover;
    height: 200px;
    width: 49%;
    margin-bottom: 1%;

}

.glasses p{
    text-align: center;
    color: white;
    position: relative;
    top: calc(50% - 8px); 
    font-size: 16px;
    text-transform: uppercase;

} 

 .sale {
    background: linear-gradient(
        rgba(0,0,0,0.25) 0%,
        rgba(0,0,0,0.25) 100%
    ),
     url('images/sale-category.jpg') no-repeat center;
    background-size: cover;
    height: 200px;
    width: 49%;
    margin-bottom: 1%;

}
    
.sale p{
    text-align: center;
    color: white;
    position: relative;
    top: calc(50% - 8px); 
    font-size: 16px;
    text-transform: uppercase;

} 

.bags {
    background: linear-gradient(
        rgba(0,0,0,0.25) 0%,
        rgba(0,0,0,0.25) 100%
    ),
     url('images/bags-category.jpg') no-repeat center;
    background-size: cover;
    height: 200px;
    width: 49%;
    margin-bottom: 1%;
}

.bags p{
    text-align: center;
    color: white;
    position: relative;
    top: calc(50% - 8px); 
    font-size: 16px;
    text-transform: uppercase;

} 

.womens {
    background:  linear-gradient(
        rgba(0,0,0,0.25) 0%,
        rgba(0,0,0,0.25) 100%
    ),
    url('images/womens-category.jpg') no-repeat center;
    background-size: cover;
    height: 200px;
    width: 100%;
}

.womens p{
    text-align: center;
    color: white;
    position: relative;
    top: calc(50% - 8px); 
    font-size: 16px;
    text-transform: uppercase;
} 


.featured {
    margin: 15% 3% 20% 3%;
}

.featured p, h3 {
    text-align: center;
}

.featured p {
    color: #969696;
}

.featured h3 {
    color: #e2574c;
    margin: 10px 0px;
}

.featured img {
    width: 300px;
    height: 300px;
}

.main-carousel {
    margin: 7% 5%;
}

.flickity-page-dots {
    position: absolute;
    top: 105%;
}


.newsletter{
    background: url('images/wave-bkgd.jpg') no-repeat bottom right;
    background-size: cover center;
    padding-top: 5% 0;
    height: 250px;
}
.newsletterText h2{
    margin: 3% 0;
}

.newsletterText{
    text-align: center;
    color: white;
    position: relative;
    line-height: 200%;
    padding: 20px 33px;

}

.subscription{
    background-color: white;
    padding: 8px 3px;
    border-radius: 25px;

}

form {
    margin-top: 5%;
}

#emailInfo{
    padding-left: 5%;
    width: 60%;
    border: none;
}

#button {
    background-color:  #e2574c;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 7px 10px;
}



.container{
    margin-top: 1%;
    padding: 60px 100px;
    background-color: #242424;
    display: flex;
    justify-content: space-around;
}

.alohaInfoText, .linksText, .linksIcon {
    color: white;
    line-height: 175%;
}

.alohaInfoText {
    position: relative;
    text-align: center;
    padding: 0 0 0 70%;
    white-space: nowrap;
}

.contact{
    padding: 14px 0px;
}

.copyright, .address{
    line-height: 125%;
}

.email {
    color: white;
}

.address{
    color: #969696;
}

.socialmedia{
    display: flex;
    position: relative;
}

.linksText {
    display: none;
}

.linksIcon {
    position: relative;
    right: 135%;
    margin-top: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.linksIcon li{
    padding-right: 12%;
}


@media only screen and (min-width:600px) { 

    html {
        font-size: 16px;
    }

    header{ 
        height: 105px;
    }

    hr {
        display: none;

    }
    .topcontainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2%;
    }


    #alohaLogo {
        width: 145px;
        height: 56px;
        margin-right: 5%;
    }

    #cartIcon{
        width: 58px;
        height: 58px;
        order: 3;
        margin-left: 10%;
    }

    nav {
        width: 315px;
    }

    .aboutText{
        padding: 60px 22px;
    }

    .aboutText h2{
        margin-bottom: 20px;
    }    

    .aboutText p{
        padding: 0 85px;
    }

    .products p {
        font-size: 22px;
    }

    .mens, .womens {
        height: 150px;
        width: 49%;
    }

    .trends, .glasses, .sale, .bags {
        height: 150px;
        width: 24%;
    }
 
    .mens, .trends, .sale, .bags {
        margin-right: 1%;
    }

    .featured {
        margin: 10% 2% 15% 2%;
    }

    .featured h3 {
        margin: 5% 20%;
    }

    .main-carousel{
        margin: 10% 5%; 
    }

    .main-carousel img{
        width: 250px;
        height: 250px;
    }

    .newsletter {
        padding: 50px 50px;
    }


    #button {
        padding: 10px 12px 8px 12px;
    }

    #emailInfo{
        padding-left: 3%;
        width: 217px;
    }

    .linksText {
        display: inline-block;
    }


   .linksIcon {
    display: flex;
    flex-direction: column;
    position: static;
    margin-right: 7%;
    margin-top: 0;
    }
    

    .alohaInfoText {
        text-align: left;
        padding: 0 70% 0 0%;
        left: 0%;

    }
    
    .socialmedia {
        position: absolute;
        padding-left: 70%;

    }


}

@media only screen and (min-width:1240px) { 

    .newsletterText {
        padding: 25px 282px;
    }

    #emailInfo{
        padding-left: 1%;
    }
    
    .aboutText{
        padding: 60px 20%;
    }

    .products p {
        font-size: 26px;
    }

    .mens, .womens {
        height: 300px;
    }

    .trends, .glasses, .sale, .bags {
        height: 300px;
    }

    .featured {
        margin: 5% 5% 7% 5%;
    }
    
    .featured h3{
        margin: 5% 0%;
    }
    
    .main-carousel {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    

}
