html{
    font-size: 16px;
}

.banner{
    background: linear-gradient(
        rgba(0,0,0,0.25) 0%,
        rgba(0,0,0,0.25) 100%
    ),
    url('images/banner-girl.png') no-repeat center 60px, 
    url('images/flower-bkgd.jpg') repeat-x center top;
    background-size: cover, contain, cover; /* 3 images*/
    height: 400px
}

.bannerText h1 {
    font-size: 16px;
    margin-bottom: 13px;
}

.bannerText { 
    text-align: center;
    color: white;
    position: relative;
    top: calc(50% - 25px); /* calculates to the center, center of the page - half of the font size */
    font-size: 50px;
}


.newsletter{
    background: url('images/wave-bkgd.jpg') no-repeat bottom left;
    background-size: cover;
    height: 300px;
}
.newsletterText h2{
    font-size: 40px;
    margin-bottom: 15px;
}

.newsletterText{
    text-align: center;
    color: white;
    position: relative;
    line-height: 200%;
    top: 20%;
}


.subscription{
    background-color: white;
    padding: 8px;
    border-radius: 10px;
}

form {
    margin-top: 20px;
}


.container{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-around;
}

.alohaInfoText, .linksText, .linksIcon {
    color: white;
    line-height: 175%;
}

.contact{
    padding: 14px 0px;
}

.copyright, .address{
    line-height: 125%;
}

.email {
    color: white;
}

.address{
    color: grey;
}

.topcontainer{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

#alohaLogo {
    width: 20%;
    height: 20%;
}

#cartIcon{
    width: 8%;
    height: 8%;
}


.navLinks {
    display: flex;
}


.socialmedia{
    width: 7%;
    display: flex;
    justify-content: space-around;
    flex-wrap: no-wrap;
}